/* Footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
  padding-bottom: 30px;
}

nav.home {
	margin-bottom:0;
}

#login-buttons-section, #logout-buttons-section {
	display: table-row;
}

@media screen and (max-width: 767px) {
    #login-buttons-section, #logout-buttons-section {
		text-align: center;
		display: block;
	}
}

@media screen and (max-width: 991px) {
    [class*=col-md] {
		margin-bottom: 20px;
	}
	[class*=col-md]:last {
		margin-bottom: initial;
	}
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #333333;
}

.container .text-muted {
  margin: 20px 0;
}

form .error {
    color: red;
}

.home-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
	background: url(../images/home-bg.jpg) no-repeat center center;
    background-size: cover;
	background-attachment: fixed;
}

.home-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.home-message > h1 {
	padding-bottom: 20px;
}
.home-message > form > .form-group > input {
	display: inline-block !important;
	max-width: 70%;
}

@media screen and (min-width: 768px) {
    .home-message > form > .form-group > input {
		width: 400px;
		max-width: none;
	}
}

.dashboard-content section , .dashboard-content section h4{
	padding: 5px 0;
}
#dashboard-content section:last {
	padding-bottom: initial;
}
