/* Footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#home-body, #home-html {
	/*height:100%;*/
}

nav.home {
	margin-bottom:0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #333333;
}

body > .container {
  padding-bottom: 30px;
}
.container .text-muted {
  margin: 20px 0;
}

form .error {
    color: red;
}

#section1 {
	background-color: rgba(0,0,0,0.7);
	color:#fff;
	font-family: 'Bitter', serif;
}

.home-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
	background: url(../images/home-bg.jpg) no-repeat center center;
    background-size: cover;
	background-attachment: fixed;
}

.home-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.home-message > h1 {
	padding-bottom: 20px;
}
.home-message > form > .form-group > input {
	width: 400px;
}