
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
  padding-bottom: 30px;
}

nav.home {
	margin-bottom:0;
}

#login-buttons-section, #logout-buttons-section {
	display: table-row;
}

@media screen and (max-width: 767px) {
    #login-buttons-section, #logout-buttons-section {
		text-align: center;
		display: block;
	}
}

@media screen and (max-width: 991px) {
    [class*=col-md] {
		margin-bottom: 20px;
	}
	[class*=col-md]:last {
		margin-bottom: initial;
	}
}

/* Footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #333333;
}

.container .text-muted {
  margin: 20px 0;
}
/* End Footer styles
-------------------------------------------------- */

form .error {
    color: red;
}

.home-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
	background: url(../images/home-bg.jpg) no-repeat center center;
    background-size: cover;
	background-attachment: fixed;
}

.home-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.home-message > h1 {
	padding-bottom: 20px;
}
.home-message > form > .form-group > input {
	display: inline-block !important;
	max-width: 70%;
}

@media screen and (min-width: 768px) {
    .home-message > form > .form-group > input {
		width: 400px;
		max-width: none;
	}
}

.dashboard-content section , .dashboard-content section h4{
	padding: 5px 0;
}
#dashboard-content section:last {
	padding-bottom: initial;
}

/* Job List styles
-------------------------------------------------- */
section.job-item {
	background: #FAFAFA;
	border: solid 1px #D5D5D5;
	margin: 0 0 1em 0;
    padding: 0.8em 1em;
}
.job-list section {
	width: 100%;
}
.job-item-header a {
	color: inherit;
}
.job-item .job-item-btns {
	margin:15px 0 5px;
}
.job-featured {
	color: inherit !important;
	text-decoration: none !important;
}
.job-featured >section:hover {
    border: solid 1px #EEEEEE;
    background: #F1F1F1;
}
.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
/* End Job List styles
-------------------------------------------------- */
